* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* padding: 0 100px;
     margin: 0;
      */
}

html {
  width: 1440;
}

.body {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr 1fr 1fr/ 1fr;
  }
 

.nav-container {
  background-color: hsl(0, 0%, 100%);
  grid-area: 1 / 1 / 2 / 2;
}

.header-container {
  background-color: hsl(0, 0%, 100%);
  grid-area: 2 / 1 / 4 / 2;
}

.form-container {
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-boost-desktop.svg);
  background-size: cover;
  grid-area: 3 / 1 / 5 / 2;
  margin: 0 50px;
  z-index: 6;

}

.main-container {
  background-color: hsl(0, 0%, 75%);
  grid-area: 4 / 1 / 6 / 2;
  }

.button-start-container {
  background-color: hsl(257, 27%, 26%);
  background-image: url(images/bg-boost-desktop.svg);
  background-size: cover;
  grid-area: 6 / 1 / 7 / 2;
}

.footer-container {
  background-color: hsl(260, 8%, 14%);
  grid-area: 7 / 1 / 8 / 2;
}
